<footer>
  <div class="container">
    <div class="row text-center">
      <p>
        Code licensed under
        <a href="http://peatio.mit-license.org/" target="_blank">MIT</a>, documentation under
        <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.
      </p>
    </div>
  </div>
</footer>
